<h1>About </h1>
<p>Oxford Edu was set up in order to offer international students an experience of living the Oxford and Cambridge student life. </p>

	<h1>What we offer</h1>

	<p>
		<b>Residence & Catering</b>: During the course of our 3-day long camp, students will be living inside colleges of Oxford and Cambridge and eating at college dining halls.<br><br>
		<b>Oxbridge Activities</b>: punting, trips to colleges<br><br>
		<b>English lessons with Oxbridge students</b>: our English teachers are ALL students or graduates from Oxbridge.
	</p>

<br>
<br>
<div class="main">
			<h1>About our founders</h1>
			<ul class="news">
				<li>
					<div class="date">
						<img src="https://dl.dropboxusercontent.com/s/8kb1knj6hlpdlfm/Akash%20Jain.jpg" alt="Img" height="80" width="80">
							
						
					</div>
					<h2>Managing Director <span>Akash</span></h2>
					<p>
						Akash Jain is a current undergraduate at Princeton University, class of 2016. He is majoring in Computer Science, and obtaining Certificates in Engineering Biology, and Engineering & Management Systems. Previously, he was the Wellesley Scholar and Master's Exhibitionist at Wellington College for outstanding academic achievement, having achieved 5 A*s at A-Level in Mathematics, Further Mathematics, Biology, Chemistry, Physics, and 11 A*s at (I)GCSE level. He has advised several students applying to both Oxbridge (he won admission to Selwyn College, Cambridge but declined it for Princeton) and the Ivy League.
					</p>
				</li>
				<li>
					<div class="date">
						<img src="https://dl.dropboxusercontent.com//s/zrt3njloicsmu32/IMG_7850.JPG" alt="Img" height="80" width="80">
					</div>
					<h2>Co-founder <span>Ben Whitfield</span></h2>
					<p>
						Ben Whitfield graduated from Magdalene College, Oxford with B.A. in fine arts, class of 2014. Since joining Oxford, Ben has actively participated in teaching English to international students. In 2013, Ben has spent his summer in Jinju, Korea teaching English to Korean students at University of Jinju.   
					</p>
				</li>
				<li>				
					<div class="date">
					
						<img src="https://dl.dropboxusercontent.com/s/gciika8wx5loeu3/passport.jpg" alt="Img" height="80" width="80">
				
					</div>
				
					<h2>Co-founder <span>Harry Lee</span></h2>
					<p>
						Harry Lee has graduated from Oriel College, Oxford in 2014 with BA and MSc in Molecular and Cellular Biochemistry. He was awarded an Exhibition by Oriel for academic excellence, and is a visiting scholar at Princeton University for the academic year 2013-2014. He also held the top academic scholarship at Wellington College. He has over three years' experience of tutoring Biology, Chemistry and Maths to students in the last two years of high school, and helping them prepare for Oxbridge interviews in Chemistry and Biochemistry.
					</p>
				</li>
			</ul>
		</div>
		<div class="sidebar">
			<h1>This is just a place holder.</h1>
			<ul class="posts">
				<li>
					<h4 class="title"><a href="post.html">This is just a place holder.</a></h4>
					<p>
						You can remove any link to our website from this website template, you're free to use this website template without linking back to us.
					</p>
				</li>
				<li>
					<h4 class="title"><a href="post.html">This is just a place holder.</a></h4>
					<p>
						This is just a place holder, so you can see what the site would look like.
					</p>
				</li>
				<li>
					<h4 class="title"><a href="post.html">This is just a place holder.</a></h4>
					<p>
						You can remove any link to our website from this website template, you're free to use this website template without linking back to us.
					</p>
				</li>
			</ul>
		</div>