<style>
  table, td, th {
      border: 1px solid black;
  }

  table {
    border-collapse: collapse;
  }

  td {
    text-align: center;
    padding: 15px;
    font-size: 15px;
  }

  table {
    width: 100%;
  }

  th {
      height: 50px;
      font-size: 25px;
  }

  th {
    background-color: #e6eeee;
  
}

</style>

<table>

<p><b>Date</b>:<br>28th-30th August: Thursday-Saturday</p> 

<p><b>Class</b>:<br>
 Classes will primarily focus on English speaking, e.g. <br>
 1) conversation in real life situation (job interviews, business meetings and etc.) <br>
 2) practising the British accent (students are highly encouraged to prepare a list of phrases that they would like to practice) 
</p>
<p>Each classes will have 6-8</p>

<p><b>Reading & Discussion Topics</b>:<br>
   Health: Governments should provide a first class National Health Service for everybody so that nobody would want to pay for private treatment<br>
   Food: Which age-group in your country eats most fast and convenience food? What could be done to encourage these people to eat more fresh food?
 </p>
 <p>Articles on the two discussion topics will be given out on the day </p>
 
 <p><b>Activities</b>:<br> 
  <div id="adbox">
    <div class="clearfix">
      <img src="https://dl.dropboxusercontent.com/s/6lxs35b87uvyzpj/photo4.jpg" alt="Img" height="302" width="225">
      <div>
        <p>
          A punt is a flat-bottomed boat with a square-cut bow, designed for use in small rivers or other shallow water. Punting is a very popular hobby in both Oxford and Cambridge in summer. Every college has its own boats (2-3 on average) and, therefore, college students have a lot of punting 
          opportunities. Ideal for small groups (5 people max), one person steers the boat with a long pole while the rest of the crew can relax on the boat. During Oxford Edu English camp, we will be punting as a group and each student will get a chance to steer the boat.
        </p>
      </div>
    </div>
    <br>
    <div class="clearfix">
      <img src="https://dl.dropboxusercontent.com/s/yalbqt0ohts0e3i/%EB%AF%B9%EC%8A%A4%201.jpg" alt="Img" height="225" width="225">
      <div>
        <p>
          Both Oxford and Cambridge universities are renowned for their historical and magnificent architecture. Besides Clare College, we will be visiting famous colleges of Cambridge univeristy such as King's College and Trinity College.
        </p>
      </div>
    </div>

  </div> 

  <tr>
    <th></th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
  </tr>
  <tr>
    <td>8:00-9:00</td>
    <td></td>
    <td>Breakfast</td>
    <td>Breakfast</td>
  </tr>

  <tr>
    <td>9:00-11:00</td>
    <td>Arrival</td>
    <td>Class 2&3</td>
    <td>Class 5 (10am start)</td>
  </tr>
  <tr>
    <td>11:00-12:00</td>
    <td>Class 1</td>
    <td>Class 4</td>
    <td>Class 6</td>
  </tr>
  <tr>
    <td>12:00-1:00</td>
    <td colspan="3">Lunch</td>
  </tr>
  <tr>
    <td>1:00-3:00</td>
    <td>Reading & Discussion <br>in the garden</td>
    <td>Reading & Discussion <br>in the garden</td>
    <td>Departure</td>
  </tr>
  <tr>
    <td>3:00-6:00</td>
    <td>University Tour</td>
    <td>Punting</td>
    <td>Departure</td>
  </tr>
    <tr>
    <td>6:30-7:30</td>
    <td colspan="3">Dinner</td>
  </tr>
  <tr>
    <td>EVE</td>
    <td>Speed Dating <br> Private Study Time</td>
    <td>Pub Crawl</td>
    <td></td>
  </tr>
</table>

