
	<div id="adbox">
		<div class="clearfix">
			<img src="https://dl.dropboxusercontent.com/s/lgs6elv1steojpr/summercamp.JPG" alt="Img" height="302" width="368">
			<div>
				<h1>English Bootcamp</h1>
				<h2>+ Oxbridge Experience!</h2>
				<br>
				<p>
					Tired of learning English in the class? Join our English summer camp at Cambridge University and practice speaking English in a playful environment. As a bonus, experience the Oxbridge student life!
					
				</p>
			</div>
		</div>
	</div>
		<div style="font-style: italic; text-align: center">
		<h1>Live, Eat, Study at the most historical university. </h1>
		</div>

		<br><br><br><br>
		<div id="tagline" class="clearfix">
			<h1>What you will get out of our 2014 Summer Camp</h1>
			<div>
				<p>
					1. Improvement in spoken English that will be reflected in real life situation. 
				</p>
				<p>
					2. Get to meet new international friends from different parts of the UK.
				</p>
				
			</div>
			<div>
				<p>
					3. Have a wonderful vacation like time at a beautiful city of the UK. 
				</p>
				<p>
					4. Live, Study, Eat, Play at one of Cambridge Colleges! Experience the student life of Cambridge University.
				</p>
			</div>
		</div>
