
	<div id="adbox">
		<div class="clearfix">
			<img src="images/box.png" alt="Img" height="342" width="368">
			<div>
				<h1>Ideas?</h1>
				<h2>This is just a place holder.</h2>
				<p>
					You can remove any link to our website from this website template, you're free to use this website template without linking back to us. <span><a href="index.html" class="btn">Try It Now!</a><b>Don’t worry it’s for free</b></span>
				</p>
			</div>
		</div>
	</div>
	
		<div id="tagline" class="clearfix">
			<h1>This is just a place holder.</h1>
			<div>
				<p>
					You can remove any link to our website from this website template, you're free to use this website template without linking back to us.
				</p>
				<p>
					This is just a place holder, so you can see what the site would look like.
				</p>
				<p>
					You can remove any link to our website from this website template, you're free to use this website template without linking back to us.&nbsp;This is just a place holder, so you can see what the site would look like.
				</p>
			</div>
			<div>
				<p>
					You can remove any link to our website from this website template, you're free to use this website template without linking back to us.
				</p>
				<p>
					This is just a place holder, so you can see what the site would look like.
				</p>
				<p>
					You can remove any link to our website from this website template, you're free to use this website template without linking back to us.&nbsp;This is just a place holder, so you can see what the site would look like.
				</p>
			</div>
		</div>

